<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ng-container *ngFor="let item of menu; last as isLast">
                <button ion-item *ngIf="item.menu_item_parent == '0'" (click)="viewDetail(item.object, item.object_id)">{{ item.title }}</button>
                    <div *ngFor="let subitem of submenu">
                        <button class="sub-item" ion-item *ngIf="subitem.menu_item_parent == item.ID" (click)="viewDetail(subitem.object, subitem.object_id)">{{ subitem.title }}</button>
                    </div>
                <button *ngIf="isLast" ion-item (click)="openPage(marquagePage)">
                    Demande de marquages
                </button>
            </ng-container>
        </ion-list>

    </ion-content>
</ion-menu>
<ion-nav [root]="homePage" #content></ion-nav>
